{% load staticfiles%}
{% load user_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{% block title %}
    index
{% endblock %}</title>
	<link rel="stylesheet" href="../../../../static/CSS/auth.css">
    <!-- 加载动态 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="../../../../static/CSS/font-awesome.min.css">
    <link rel="stylesheet" href="../../../../static/CSS/bootstrap.min.css">

    <link rel="stylesheet" href="../../../../static/CSS/demo.css" />
    <link rel="stylesheet" href="../../../../static/CSS/templatemo-style.css">

    <script type="text/javascript" src="../../../../static/JS/modernizr.custom.86080.js"></script>
</head>

<body>
{% block script %}
        <script type="text/javascript">
            {% if error_info %}
                xtalert.alertError('{{ error_info }}')
            {% endif %}
            {% if info %}
                 xtalert.alertInfo('{{ info }}')
            {% endif %}
            {% if success_info %}
                 xtalert.alertSuccessToast('{{ success_info }}！');
            {% endif %}
        </script>
        {% endblock %}
    {% block navbar %}
        <div id="particles-js"></div>

			<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>

			<div class="container-fluid">

				<div class="row cb-slideshow-text-container ">
					<div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
    <div class="lowin">
		<div class="lowin-brand">
			<img src="../../../../static/images/kodinger.jpg" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form action="{% url 'front:telephone_login' %}" method="post">
                    {% csrf_token %}
						<p>手机登录</p>
						<div class="lowin-group">
							<label>手机号<a href="#" class="login-back-link">登录？</a></label>
                            <input type="text" name="phone" id="phone" autocomplete="current-password" class="lowin-input">
						</div>
						<div class="lowin-group password-group">
							<label>验证码</label>
							<input type="text" autocomplete="mycode" name="mycode" class="lowin-input">
						</div>
						<button class="lowin-btn login-btn">
                            立即登录
						</button>

						<div class="text-foot">
							返回登录页? <a href="{% url 'front:login' %}" class="login-link">返回</a>
						</div>
					</form>
				</div>
			</div>
{#			<div class="lowin-box lowin-register">#}
{#				<div class="lowin-box-inner">#}
{#					<form action="{% url 'front:register' %}" method="post">#}
{#                        {% csrf_token %}#}
{#						<p>Let's create your account</p>#}
{#						<div class="lowin-group">#}
{#							<label>用户名</label>#}
{#							<input type="text" name="name" autocomplete="username" class="lowin-input">#}
{#						</div>#}
{#                        <div class="lowin-group">#}
{#							<label>手机号</label>#}
{#							<input type="text" name="telephone" autocomplete="telephone" class="lowin-input">#}
{#						</div>#}
{#                        <div class="lowin-group">#}
{#							<label>邮箱</label>#}
{#							<input type="email" name="email" autocomplete="email" class="lowin-input">#}
{#						</div>#}
{#						<div class="lowin-group">#}
{#							<label>密码</label>#}
{#							<input type="password" name="pwd1" autocomplete="current-password" class="lowin-input">#}
{#						</div>#}
{#						<div class="lowin-group">#}
{#							<label>确认密码</label>#}
{#							<input type="password" name="pwd2" autocomplete="current-password" class="lowin-input">#}
{#						</div>#}
{#						<button class="lowin-btn">#}
{#							注册#}
{#						</button>#}
{##}
{#						<div class="text-foot">#}
{#							已经有账号? <a href="" class="login-link">登录</a>#}
{#						</div>#}
{#					</form>#}
{#				</div>#}
{#			</div>#}
		</div>

		<footer class="lowin-footer">

		</footer>
	</div>

					</div>
				</div>
			</div>
    {% endblock %}

	<script src="../../../../static/JS/auth.js"></script>
	<script>
		Auth.init({
			login_url: '#login',
			forgot_url: '#forgot'
		});
	</script>
    <script type="text/javascript" src="../../../../static/JS/particles.js"></script>
	<script type="text/javascript" src="../../../../static/JS/app.js"></script>
</body>
</html>