{% load staticfiles%}
{% load user_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>修改头像</title>
<link href="../../../../static/Wopop_files/style_log.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../../../../static/Wopop_files/style.css">
<link rel="stylesheet" type="text/css" href="../../../../static/Wopop_files/userpanel.css">
<link rel="stylesheet" type="text/css" href="../../../../static/Wopop_files/jquery.ui.all.css">

</head>

<body class="login" mycollectionplug="bind">
        {% block script %}
        <script type="text/javascript">
            {% if error_info %}
                xtalert.alertError('{{ error_info }}')
            {% endif %}
            {% if info %}
                 xtalert.alertInfo('{{ info }}')
            {% endif %}
            {% if success_info %}
                 xtalert.alertSuccessToast('{{ success_info }}！');
            {% endif %}
        </script>
        {% endblock %}

    <div class="login_m">
    <div class="login_logo"><img src="../../../../static/Wopop_files/logo.png" width="196" height="46"></div>
        <div class="login_boder">

            <div class="login_padding" id="login_model">
                <form action="{% url 'cms:change_logo' %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="rem_sub">
                        <img src="../media/{{ user.icon }}" alt="头像" style="width: 200px;height: 200px">
                        <input type="file" name="icon">
{#                        <input type="submit" value="更改头像">#}
                        <label>
                          <input type="submit" class="sub_button" name="button" id="button" value="上传头像" style="opacity: 0.7;">
                        </label>
                    </div>
                </form>

            </div>

        </div>
        <div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
                            <span class="li-text">
								返回：
							</span>
							<a href="{% url 'cms:change_info1' %}"><strong>个人中心</strong></a>
                            <span class="li-text">
								||
							</span>
							<a href="{% url 'cms:index' %}"><strong color="pink">主页</strong></a>
						</li>
					</ul>
				</div>
			</div>
    </div>


</body></html>